/* Set margin and padding for all to 0px */
*
{
	margin: 0px;
	padding: 0px;
}

/* Scroll action is made smooth */
html
{
	scroll-behavior: smooth;
}

/* Set an image as background of the website */
body
{
	background: url('../Images/bneut.jpg') no-repeat fixed; 
	background-size:cover;
} 

/* Remove any decoration from all links */
a
{
	text-decoration: none;
}

/* Style of header */
.header
{
	width: 100%;
	height: 230px;
	background: url('../Images/g2.jpg'); /* Image used as background */
	margin-bottom: 10px;
	top: 0;
}

/* Style of logo */
.logo
{
	background: url('../Images/logo.jpg'); /* Logo Image */
	background-size: cover;
	height: 110px;
	width: 160px;
	margin-bottom: 10px;
}

/* Style of navigation bar */
#nav 
{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #0009;
}

/* Style of navigation bar links */
#nav a
{
	color: white;
	padding:20px 30px 20px 30px;
	font-size: 20px;
}

/* Hover effect for navigation bar links */
#nav a:hover
{
	background-color: #000;
}

/* Fixes the navigation bar at the top of the page */
.sticky
{
	position: fixed;
	top: 0;
	width: 100%;
}

/* Style of footer */
.footer 
{
	height: 30px;
    padding: 30px;
    background: url('../Images/g2.jpg'); /* Image used as background */
    margin-top: 10px;
    color: #fff;
}

/* Position the author name left side and colour it darkred */
.footer span
{
	color: darkred;
	float: left;
}

/* Style for main heading of some pages */
#pgh1
{
	font-size: 40px;
	color: #5a97fa;
	margin-top: : 30px;
	padding-top: 40px;
	padding-bottom: 40px;
}

/* Style for main division/div of all pages */
.data
{
	padding: 25px;
	width: 80%;
	background-color: #3119;
	color: white;
	display: inline-block; /* To fix the issue of content leaking out in contact us page */
	border-radius: 10px;
}

/* Used for social media links in footer. Positions the social media links to the right side */
.extsite
{
	float: right;
}

/* Dimension and margin for image in extsite class */
.extsite img
{
	height: 20px;
	width: 20px;
	margin-right: 20px;
}

/* Reduce opacity when hovered over image in extsite class*/
.extsite img:hover
{
	opacity: .8;
}